
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form action="">
    <label for="word">Enter a word here</label><br>
    <input type="text" id="word" name="word" value="Enter anything"><br>
    <input type="submit" value="Submit">
</form> 